* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.tasks{
    width: calc(100% - 20px);
    height: calc(80% - 20px);
    padding: 10px;
    position: relative;
    overflow-x: hidden;
}

.console{
    width: calc(100% - 20px);
    height: calc(20% - 20px);
    background-color: black;
    color: white;
    padding: 10px;
    overflow-x: hidden;
}

.tasks button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    padding: 10px 15px;
    font-size: 15px;
}

.task {
    padding: 10px;
}
.task input {
    margin: 10px;
    font-size: 15px;
    padding: 3px;
}